@{
//ViewBag.Title = "About";
}

@using (Html.BeginForm())
{

    <p>Use this area to provide additional information.</p>
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <input id="txtDate" name="date" class="uk-box-shadow-hover-medium form-control  rounded-0">
    </div>
    <input type="submit" name="submit" value="Ok" />
}


<p class="fa fa-calendar"> @ViewBag.Data </p>