@model  int

@Html.Partial("_SubjectForm")

<div class="border border-dark  bg-light p-3">
    <h3>آیا اطلاعات خواسته شده حذف گردد؟</h3>

    @using (Ajax.BeginForm(MVC.Admin.ProductsManagment.Delete(Model), new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "List",
        OnSuccess = "Hide"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default fa fa-remove" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
