

@{
    /**/
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-3">

    @Html.Partial("_SubjectForm")
    <div id="List">
        @ToastrHelper.ProcessToastrs()
        @Html.Action("ShowList")
    </div>

</div>


@Html.Partial("_Modal")
