@model string

<script>
    (function () {
        UIkit.notification({ message: '<span uk-icon=\'icon: check\'></span> @Model  ', pos: 'top-right', status: 'primary' });
        UIkit.notification({ message: '<span uk-icon=\'icon: check\'></span> success Message with an icon', pos: 'top-right', status: 'success' });
        UIkit.notification({ message: '<span uk-icon=\'icon: check\'></span> warning Message with an icon', pos: 'top-right', status: 'warning' });
        UIkit.notification({ message: '<span uk-icon=\'icon: check\'></span> danger Message with an icon', pos: 'top-right', status: 'danger' });

    })();

</script>