
<div id="modal-sections" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical ">
        <div class="uk-modal-header m-3 ">
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
        <div class="uk-modal-body" id="Modal_Body" uk-overflow-auto>
        </div>
    </div>
</div>

