<div uk-alert class="   bg-secondary text-white  text-right">
    <a class="uk-alert-close" uk-close></a>
    <p class="mb-2">
        <span class="fa fa-exclamation-circle fa-2x"></span>
        هیچ محصولی ثبت نشده است
    </p>
</div>
